In [1]:
import pandas as pd

In [31]:
log_df = pd.read_csv('/home/julixquid/Downloads/logs.txt', sep=',', header=None, on_bad_lines='skip')

/tmp/ipykernel_24602/131083754.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  log_df = pd.read_csv('/home/julixquid/Downloads/logs.txt', sep=',', header=None, on_bad_lines='skip')

In [12]:
log_df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,2025-05-06T14:49:32+00:00 155,NaN,NaN,c0dbc3f4f934c1cb95f41a1f3d23a189,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,72.0,172.16.0.10,172.16.0.1,53829,53.0,52.0
1,2025-05-06T14:49:32+00:00 164,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,72.0,172.16.0.10,8.8.8.8,53829,53.0,52.0
2,2025-05-06T14:49:33+00:00 155,NaN,NaN,c0dbc3f4f934c1cb95f41a1f3d23a189,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,80.0,172.16.0.10,172.16.0.1,53269,53.0,60.0
3,2025-05-06T14:49:34+00:00 21,NaN,NaN,02f4bab031b57d1e30553ce08e0ec131,vtnet0,match,block,in,4.0,0x0,...,0.0,DF,17.0,udp,268.0,192.168.1.20,255.255.255.255,50924,10001.0,248.0
4,2025-05-06T14:49:36+00:00 155,NaN,NaN,c0dbc3f4f934c1cb95f41a1f3d23a189,vtnet0,match,pass,in,4.0,0x0,...,0.0,DF,1.0,icmp,84.0,172.16.0.70,172.16.0.1,datalength=64,NaN,NaN

In [14]:
log_df[19].value_counts()

19
172.16.0.1         160893
239.255.255.250    129590
255.255.255.255     58137
172.16.96.1         42393
216.239.32.106      28677
                    ...
20.42.73.25             1
3.169.202.118           1
199.180.182.53          1
199.26.60.53            1
199.26.61.9             1
Name: count, Length: 631, dtype: int64

In [13]:
log_columns = [
    "timestamp",
    "rule_number",
    "sub_rule",
    "anchor",
    "tracking_id",
    "interface",
    "action",
    "result",
    "direction",
    "ip_version",
    "tos",
    "ecn",
    "ttl",
    "packet_id",
    "fragment_offset",
    "flags",
    "protocol_number",
    "protocol",
    "packet_length",
    "src_ip",
    "dst_ip",
    "src_port",
    "dst_port",
    "data_length"]

In [5]:
log_df[19].value_counts()

19
172.16.0.1         160893
239.255.255.250    129590
255.255.255.255     58137
172.16.96.1         42393
216.239.32.106      28677
                    ...
20.42.73.25             1
3.169.202.118           1
199.180.182.53          1
199.26.60.53            1
199.26.61.9             1
Name: count, Length: 631, dtype: int64

In [23]:
aux = log_df.groupby(19).agg('count')[0]

In [39]:
log_df[log_df[19]=='1.1.1.1']

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
360449,2025-05-11T03:45:48+00:00 164,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,DF,6.0,tcp,60.0,172.16.0.5,1.1.1.1,37816,443.0,0.0
360466,2025-05-11T03:45:54+00:00 164,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,DF,6.0,tcp,60.0,172.16.0.5,1.1.1.1,52084,443.0,0.0
360473,2025-05-11T03:45:59+00:00 164,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,DF,6.0,tcp,60.0,172.16.0.5,1.1.1.1,52088,443.0,0.0
360486,2025-05-11T03:46:04+00:00 164,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,DF,6.0,tcp,60.0,172.16.0.5,1.1.1.1,45792,443.0,0.0
360502,2025-05-11T03:46:09+00:00 164,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,DF,6.0,tcp,60.0,172.16.0.5,1.1.1.1,41664,443.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491473,2025-05-11T22:58:08+00:00 162,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,DF,6.0,tcp,60.0,172.16.0.5,1.1.1.1,35900,443.0,0.0
491478,2025-05-11T22:58:13+00:00 162,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,DF,6.0,tcp,60.0,172.16.0.5,1.1.1.1,57816,443.0,0.0
491498,2025-05-11T22:58:19+00:00 162,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,DF,6.0,tcp,60.0,172.16.0.5,1.1.1.1,57818,443.0,0.0
491503,2025-05-11T22:58:24+00:00 162,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,DF,6.0,tcp,60.0,172.16.0.5,1.1.1.1,34862,443.0,0.0
491513,2025-05-11T22:58:29+00:00 162,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,DF,6.0,tcp,60.0,172.16.0.5,1.1.1.1,34868,443.0,0.0

In [38]:
log_df[log_df[19]=='1.1.1.1'][20].value_counts()

20
49968    5
56022    5
60522    5
35290    5
45636    5
        ..
34984    1
56146    1
56144    1
51648    1
50372    1
Name: count, Length: 6334, dtype: int64

In [40]:
log_df[log_df[19]=='8.8.8.8']

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
1,2025-05-06T14:49:32+00:00 164,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,72.0,172.16.0.10,8.8.8.8,53829,53.0,52.0
11,2025-05-06T14:49:47+00:00 164,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,80.0,172.16.0.10,8.8.8.8,53934,53.0,60.0
27,2025-05-06T14:49:53+00:00 164,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,82.0,172.16.0.10,8.8.8.8,54018,53.0,62.0
30,2025-05-06T14:49:53+00:00 164,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,81.0,172.16.0.10,8.8.8.8,50920,53.0,61.0
34,2025-05-06T14:49:56+00:00 164,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,75.0,172.16.0.10,8.8.8.8,53325,53.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659506,2025-05-14T02:57:28+00:00 152,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,60.0,172.16.0.10,8.8.8.8,53071,53.0,40.0
659551,2025-05-14T02:58:32+00:00 152,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,75.0,172.16.0.10,8.8.8.8,61352,53.0,55.0
659557,2025-05-14T02:58:34+00:00 152,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,58.0,172.16.0.10,8.8.8.8,62482,53.0,38.0
659593,2025-05-14T02:59:33+00:00 152,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,56.0,172.16.0.10,8.8.8.8,54452,53.0,36.0
659597,2025-05-14T02:59:34+00:00 152,NaN,NaN,75a2b136446ad166a85f3150b40b7d1e,vtnet0,match,pass,in,4.0,0x0,...,0.0,none,17.0,udp,69.0,172.16.0.10,8.8.8.8,50753,53.0,49.0

In [36]:
log_df[log_df[19]=='8.8.8.8'][20].value_counts()

20
57821    3
53537    3
49992    3
53675    3
53257    3
        ..
61548    1
58339    1
63519    1
62120    1
57598    1
Name: count, Length: 3453, dtype: int64